/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #748DA6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#main {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.heading {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}



.attempts {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

#guessInp {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h3 {
    font-size: 1.1em;
    color: #333;
    margin-top: 20px;
}

li{
    list-style-type: none;
}

.congo {
    font-size: 1.5em;
    color: green;
    margin-top: 20px;
    display: none;
}

.congo.play-again {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}


.congos {
    font-size: 1.5em;
    color: blue;
    margin-top: 20px;
}

.conging {
    font-size: 1.5em;
    color: rgb(163, 12, 57);
    margin-top: 20px;
    display: none;
}

.previous,
.remainingHere {
    display: inline;
}
